.wallet_sec {
  padding: 16px;

  .coin_value {
    text-align: center;
    background-color: var(--yellow-color);
    margin-top: 24px;
    padding: 6px 12px 6px 12px;
    border-radius: 6px;
    margin-bottom: 12px;
  }

 
}
